@(username: String)(implicit request: RequestHeader)

@main(Some(username)) {

    <canvas id="board" width="500" height="500">
      Perdu
    </canvas>
    <div id="chat">
    <div class="page-header">
      <h1>Welcome to the chat room <br /><small>You are chatting as @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="span4">
            <h2>Members</h2>
	    <ul id="members">
            </ul>
        </div>
    </div>
    </div>
    <script src="@routes.Assets.at("javascripts/chatRoom.js")" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {
        window.Application.launch_chatRoom("@routes.Application.chat(username).webSocketURL()");
      })
    </script> 
    
}
